# Python
__pycache__/
*.py[cod]
*.egg-info/

# macOS
.DS_Store

# Editores
.vscode/
.idea/

# Soluções/gabaritos NUNCA vão para o repositório do aluno
solucao/
solucao-professor/
gabarito*/
**/solucao/
